* {
    margin: 0;
    padding: 0;
}
  
.container {
    display: flex;
    width: 100%;
    height: 30%;
    background-color: rgb(176, 167, 174);
    flex-direction: column;
    align-items: center;
}
  
button {
    width: 20%;
    height: 40px;
    margin: 10px;
    text-align: center;
    color: white;
    background-color: rgb(49, 47, 49);
    border: 2px solid white;
    border-radius: 10px;
    font: italic small-caps bold 15px/2 cursive;
    font-weight: bold;
}

button:hover {
    background-color: rgb(184, 16, 150);
}
  
#status-title {
    display: none;
    color: rgb(184, 16, 150);
    font: italic small-caps bold 15px/2 cursive;
    font-weight: bold;
    margin-bottom: 15px;
}
  
.info {
    display: grid;
    width: 100%;
    height: 50%;
    background-color: rgb(195, 88, 145);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border:2px solid rgb(49, 47, 49);
}

.person-block {
    text-align: center;
    border-right: 2px solid rgb(49, 47, 49);
    padding-top: 10px;
}

p {
    color: white;
    font: italic small-caps bold 14px/2 cursive;
    margin: 20px 0 20px 20px;
}

img {
    width: 90%;
    height: 50%;
    border-radius: 100%;
    border: 3px solid white;
}


  